-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: db_siapepi_v2
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_app_auditassignment`
--

DROP TABLE IF EXISTS `audit_app_auditassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_auditassignment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL,
  `audit_cycle_id` bigint NOT NULL,
  `unit_id` bigint NOT NULL,
  `auditor_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_app_auditassig_audit_cycle_id_fbb10ca7_fk_audit_app` (`audit_cycle_id`),
  KEY `audit_app_auditassignment_unit_id_afdb1d21_fk_audit_app_unit_id` (`unit_id`),
  KEY `audit_app_auditassig_auditor_id_834b8275_fk_audit_app` (`auditor_id`),
  CONSTRAINT `audit_app_auditassig_audit_cycle_id_fbb10ca7_fk_audit_app` FOREIGN KEY (`audit_cycle_id`) REFERENCES `audit_app_auditcycle` (`id`),
  CONSTRAINT `audit_app_auditassig_auditor_id_834b8275_fk_audit_app` FOREIGN KEY (`auditor_id`) REFERENCES `audit_app_user` (`id`),
  CONSTRAINT `audit_app_auditassignment_unit_id_afdb1d21_fk_audit_app_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `audit_app_unit` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_auditassignment`
--

LOCK TABLES `audit_app_auditassignment` WRITE;
/*!40000 ALTER TABLE `audit_app_auditassignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_auditassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_auditcycle`
--

DROP TABLE IF EXISTS `audit_app_auditcycle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_auditcycle` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_auditcycle`
--

LOCK TABLES `audit_app_auditcycle` WRITE;
/*!40000 ALTER TABLE `audit_app_auditcycle` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_auditcycle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_auditresponse`
--

DROP TABLE IF EXISTS `audit_app_auditresponse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_auditresponse` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `uploaded_file` varchar(100) DEFAULT NULL,
  `answer_text` longtext,
  `submitted_at` datetime(6) NOT NULL,
  `instrument_id` bigint NOT NULL,
  `unit_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `instrument_id` (`instrument_id`),
  KEY `audit_app_auditresponse_unit_id_725ecc05_fk_audit_app_unit_id` (`unit_id`),
  CONSTRAINT `audit_app_auditrespo_instrument_id_f4d7ac7d_fk_audit_app` FOREIGN KEY (`instrument_id`) REFERENCES `audit_app_instrument` (`id`),
  CONSTRAINT `audit_app_auditresponse_unit_id_725ecc05_fk_audit_app_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `audit_app_unit` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_auditresponse`
--

LOCK TABLES `audit_app_auditresponse` WRITE;
/*!40000 ALTER TABLE `audit_app_auditresponse` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_auditresponse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_clarificationmessage`
--

DROP TABLE IF EXISTS `audit_app_clarificationmessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_clarificationmessage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `attachment` varchar(100) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `thread_id` bigint NOT NULL,
  `sender_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_app_clarificat_thread_id_9745c451_fk_audit_app` (`thread_id`),
  KEY `audit_app_clarificat_sender_id_5d582d59_fk_audit_app` (`sender_id`),
  CONSTRAINT `audit_app_clarificat_sender_id_5d582d59_fk_audit_app` FOREIGN KEY (`sender_id`) REFERENCES `audit_app_user` (`id`),
  CONSTRAINT `audit_app_clarificat_thread_id_9745c451_fk_audit_app` FOREIGN KEY (`thread_id`) REFERENCES `audit_app_clarificationthread` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_clarificationmessage`
--

LOCK TABLES `audit_app_clarificationmessage` WRITE;
/*!40000 ALTER TABLE `audit_app_clarificationmessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_clarificationmessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_clarificationthread`
--

DROP TABLE IF EXISTS `audit_app_clarificationthread`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_clarificationthread` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `audit_response_id` bigint NOT NULL,
  `opened_by_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_app_clarificat_audit_response_id_209912ec_fk_audit_app` (`audit_response_id`),
  KEY `audit_app_clarificat_opened_by_id_b17a55e7_fk_audit_app` (`opened_by_id`),
  CONSTRAINT `audit_app_clarificat_audit_response_id_209912ec_fk_audit_app` FOREIGN KEY (`audit_response_id`) REFERENCES `audit_app_auditresponse` (`id`),
  CONSTRAINT `audit_app_clarificat_opened_by_id_b17a55e7_fk_audit_app` FOREIGN KEY (`opened_by_id`) REFERENCES `audit_app_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_clarificationthread`
--

LOCK TABLES `audit_app_clarificationthread` WRITE;
/*!40000 ALTER TABLE `audit_app_clarificationthread` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_clarificationthread` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_deskevaluationscore`
--

DROP TABLE IF EXISTS `audit_app_deskevaluationscore`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_deskevaluationscore` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `score` int NOT NULL,
  `note` longtext,
  `status` varchar(50) NOT NULL,
  `doc_note` longtext,
  `audit_response_id` bigint NOT NULL,
  `auditor_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_app_deskevalua_audit_response_id_b4a8a49f_fk_audit_app` (`audit_response_id`),
  KEY `audit_app_deskevalua_auditor_id_be1001f1_fk_audit_app` (`auditor_id`),
  CONSTRAINT `audit_app_deskevalua_audit_response_id_b4a8a49f_fk_audit_app` FOREIGN KEY (`audit_response_id`) REFERENCES `audit_app_auditresponse` (`id`),
  CONSTRAINT `audit_app_deskevalua_auditor_id_be1001f1_fk_audit_app` FOREIGN KEY (`auditor_id`) REFERENCES `audit_app_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_deskevaluationscore`
--

LOCK TABLES `audit_app_deskevaluationscore` WRITE;
/*!40000 ALTER TABLE `audit_app_deskevaluationscore` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_deskevaluationscore` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_finding`
--

DROP TABLE IF EXISTS `audit_app_finding`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_finding` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `uraian` longtext NOT NULL,
  `akar_masalah` longtext,
  `tindakan_koreksi` longtext,
  `level_risiko` varchar(20) NOT NULL,
  `tipe` varchar(20) NOT NULL,
  `status_akhir` varchar(50) NOT NULL,
  `rencana_tindakan` longtext,
  `tanggal_target_rtl` date DEFAULT NULL,
  `bukti_rtl` varchar(255) DEFAULT NULL,
  `catatan_verifikasi` longtext,
  `status_verifikasi` varchar(50) NOT NULL,
  `history` json NOT NULL,
  `standar_id` bigint NOT NULL,
  `unit_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_app_finding_standar_id_416fc3ba_fk_audit_app_standard_id` (`standar_id`),
  KEY `audit_app_finding_unit_id_5339251c_fk_audit_app_unit_id` (`unit_id`),
  CONSTRAINT `audit_app_finding_standar_id_416fc3ba_fk_audit_app_standard_id` FOREIGN KEY (`standar_id`) REFERENCES `audit_app_standard` (`id`),
  CONSTRAINT `audit_app_finding_unit_id_5339251c_fk_audit_app_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `audit_app_unit` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_finding`
--

LOCK TABLES `audit_app_finding` WRITE;
/*!40000 ALTER TABLE `audit_app_finding` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_finding` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_instrument`
--

DROP TABLE IF EXISTS `audit_app_instrument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_instrument` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `question_text` longtext NOT NULL,
  `required_evidence` longtext NOT NULL,
  `is_locked` tinyint(1) NOT NULL,
  `audit_cycle_id` bigint NOT NULL,
  `standard_id` bigint NOT NULL,
  `unit_id` bigint NOT NULL,
  `created_by_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audit_app_instrument_created_by_id_512eea6c_fk_audit_app_user_id` (`created_by_id`),
  KEY `audit_app_instrument_audit_cycle_id_fd279766_fk_audit_app` (`audit_cycle_id`),
  KEY `audit_app_instrument_standard_id_599a91fa_fk_audit_app` (`standard_id`),
  KEY `audit_app_instrument_unit_id_eb1f5261_fk_audit_app_unit_id` (`unit_id`),
  CONSTRAINT `audit_app_instrument_audit_cycle_id_fd279766_fk_audit_app` FOREIGN KEY (`audit_cycle_id`) REFERENCES `audit_app_auditcycle` (`id`),
  CONSTRAINT `audit_app_instrument_created_by_id_512eea6c_fk_audit_app_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `audit_app_user` (`id`),
  CONSTRAINT `audit_app_instrument_standard_id_599a91fa_fk_audit_app` FOREIGN KEY (`standard_id`) REFERENCES `audit_app_standard` (`id`),
  CONSTRAINT `audit_app_instrument_unit_id_eb1f5261_fk_audit_app_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `audit_app_unit` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_instrument`
--

LOCK TABLES `audit_app_instrument` WRITE;
/*!40000 ALTER TABLE `audit_app_instrument` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_instrument` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_standard`
--

DROP TABLE IF EXISTS `audit_app_standard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_standard` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_standard`
--

LOCK TABLES `audit_app_standard` WRITE;
/*!40000 ALTER TABLE `audit_app_standard` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_standard` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_unit`
--

DROP TABLE IF EXISTS `audit_app_unit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_unit` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(10) NOT NULL,
  `name` varchar(255) NOT NULL,
  `type` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_unit`
--

LOCK TABLES `audit_app_unit` WRITE;
/*!40000 ALTER TABLE `audit_app_unit` DISABLE KEYS */;
INSERT INTO `audit_app_unit` VALUES (1,'TMP','Teknologi Mekanisasi Pertanian','prodi'),(2,'THP','Teknologi Hasil Pertanian','prodi'),(3,'TAP','Tata Air Pertanian','prodi'),(4,'UPM','Unit Penjamin Mutu','upm'),(5,'UPPM','Unit Penjamin Mutu Pendidikan','pendukung'),(6,'UPPS','Manajemen','Manajemen'),(7,'UMK','Umum dan Keuangan','pendukung');
/*!40000 ALTER TABLE `audit_app_unit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_user`
--

DROP TABLE IF EXISTS `audit_app_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `role` varchar(50) NOT NULL,
  `assigned_units` json NOT NULL,
  `foto` longtext,
  `unit_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `audit_app_user_unit_id_42b5b750_fk_audit_app_unit_id` (`unit_id`),
  CONSTRAINT `audit_app_user_unit_id_42b5b750_fk_audit_app_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `audit_app_unit` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_user`
--

LOCK TABLES `audit_app_user` WRITE;
/*!40000 ALTER TABLE `audit_app_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_user_groups`
--

DROP TABLE IF EXISTS `audit_app_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `audit_app_user_groups_user_id_group_id_113ff0a5_uniq` (`user_id`,`group_id`),
  KEY `audit_app_user_groups_group_id_366433b2_fk_auth_group_id` (`group_id`),
  CONSTRAINT `audit_app_user_groups_group_id_366433b2_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `audit_app_user_groups_user_id_64eeb01b_fk_audit_app_user_id` FOREIGN KEY (`user_id`) REFERENCES `audit_app_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_user_groups`
--

LOCK TABLES `audit_app_user_groups` WRITE;
/*!40000 ALTER TABLE `audit_app_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_user_user_permissions`
--

DROP TABLE IF EXISTS `audit_app_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `audit_app_user_user_perm_user_id_permission_id_5c869050_uniq` (`user_id`,`permission_id`),
  KEY `audit_app_user_user__permission_id_5c26b859_fk_auth_perm` (`permission_id`),
  CONSTRAINT `audit_app_user_user__permission_id_5c26b859_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `audit_app_user_user__user_id_655705c6_fk_audit_app` FOREIGN KEY (`user_id`) REFERENCES `audit_app_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_user_user_permissions`
--

LOCK TABLES `audit_app_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `audit_app_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_app_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_app_userprofile`
--

DROP TABLE IF EXISTS `audit_app_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_app_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `role` varchar(50) NOT NULL,
  `assigned_units` json NOT NULL,
  `foto` longtext,
  `unit_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `audit_app_userprofile_unit_id_093bc601_fk_audit_app_unit_id` (`unit_id`),
  CONSTRAINT `audit_app_userprofile_unit_id_093bc601_fk_audit_app_unit_id` FOREIGN KEY (`unit_id`) REFERENCES `audit_app_unit` (`id`),
  CONSTRAINT `audit_app_userprofile_user_id_3160925e_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_app_userprofile`
--

LOCK TABLES `audit_app_userprofile` WRITE;
/*!40000 ALTER TABLE `audit_app_userprofile` DISABLE KEYS */;
INSERT INTO `audit_app_userprofile` VALUES (1,'Super Admin','[]','',NULL,2);
/*!40000 ALTER TABLE `audit_app_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1200000$H5zv75ml92ZTPoqds5CQgG$1AhdYzlnod5QI4wuIAGQcWzxC/qxdNj2u+F/IXqeW3U=','2026-01-02 12:39:32.732285',1,'admin','','','irwan.pepi2020@gmail.com',1,1,'2026-01-02 10:55:02.000000'),(2,'pbkdf2_sha256$1200000$vFsHek3x548SJyfGSMJfAn$OfRu5gRdbdt/S6Y8uL0QEykaYrzIiNqBAwlt4idby5M=','2026-01-02 13:52:54.679588',1,'superadmin','Admin','UPM','admin@upm.pepi',1,1,'2026-01-02 11:51:23.000000');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(7,'audit_app','auditassignment'),(8,'audit_app','auditcycle'),(9,'audit_app','auditresponse'),(10,'audit_app','clarificationmessage'),(11,'audit_app','clarificationthread'),(12,'audit_app','deskevaluationscore'),(13,'audit_app','finding'),(14,'audit_app','instrument'),(15,'audit_app','standard'),(16,'audit_app','unit'),(17,'audit_app','user'),(18,'audit_app','userprofile'),(2,'auth','group'),(3,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-03  6:45:56
